.header-class{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 135px;
}


.header-class a{
    color: #FFFFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin-left: 36px;
}

.header-class a:hover{
    color: darkslategray;
    background-color: bisque;
}

/* .header-class{
    position:fixed;
     top: -10px;
} */

.signout-button{
    margin-left: 20px;
}